@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkbox input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkbox input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkbox input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  .checkbox * {
    box-sizing: inherit;
  }
  .checkbox *:before,
  .checkbox *:after {
    box-sizing: inherit;
  }
  .code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    margin: 10px;
    border-radius: 10px;
    color: #2e7d32;
}
.checkboxs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    gap: 18px;
}

.colorSchema-green input[type=checkbox] {
  --active: #66bb6a;
  border-color: #66bb6a;
  --focus: 2px #cee2cd;
  --background: #fff;
}
.colorSchema-red input[type=checkbox] {
  --active: #de0a26;
  border-color: #de0a26;
  --focus: 2px #f69697;
  --background: #fff;
}
.colorSchema-orange input[type=checkbox] {
  --active: #FFAD00;
  border-color: #FFAD00;
  --focus: 2px #FEE8D6;
  --background: #fff;
}
.checkbox{
  display: inline-block;
}
 /* Small Checkbox */
 .size-small input[type="checkbox"] {
  width: 16px !important; /* Adjust width */
  height: 16px !important; /* Adjust height */
}
.size-small input[type=checkbox]:not(.switch):after{
  width: 4px;
      height: 7px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 5px;
      top: 3px;
      transform: rotate(var(--r, 20deg));
}

/* Medium Checkbox */
.size-medium input[type="checkbox"] {
  width: 20px !important; 
  height: 20px; 
}

/* Large Checkbox */
 .size-large input[type="checkbox"] {
  width: 24px !important; 
  height: 24px !important; 
}
.size-large input[type=checkbox]:not(.switch):after{
  width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 9px;
      top: 5px;
      transform: rotate(var(--r, 20deg));
}
